<!-- =============================================== -->
<!-- -----------------Hero section------------------ --> 
<!-- =============================================== -->
<section class="flex flex-col items-center justify-end h-screen w-full">
  <!-- Background video -->
  <div class="absolute inset-0 overflow-hidden">
    <%= video_tag "personal-hero-film-full.mp4",
          autoplay: true,
          muted: true,
          loop: false,
          playsinline: true,
          preload: "metadata",
          class: "h-full w-full object-cover" %>
  </div>
  <!-- Dark overlay -->

  <!-- Hero content -->
  <div class="z-10 p-12 flex flex-col items-center justify-end h-full ">
    <div class="mb-8 mx-auto max-w-6xl px-6 text-white">
      <h1 class="text-xl md:text-3xl tracking-tight">
        A <strong class="bg-clip-text text-transparent font-light bg-gradient-to-r from-purple-500 via-purple-400 to-purple-100">new era of internet</strong> is coming.
      </h1>
    </div>
  </div>
</section>
<!-- -----------------End of Hero section------------------ --> 

<!-- =============================================== -->
<!-- -----------------some section------------------ --> 
<!-- =============================================== -->
<section>
some content
</section>


