<!-- =============================================== -->
<!-- -----------------Hero section------------------ --> 
<!-- =============================================== -->
<section class="relative flex flex-col items-center justify-end h-screen w-full bg-[#0f141a]">
  <!-- Background video -->
  <div class="absolute inset-0 overflow-hidden">
    <%= video_tag "personal-hero-film.mp4",
          autoplay: true,
          muted: true,
          loop: false,
          playsinline: true,
          preload: "metadata",
          class: "h-full w-full object-cover" %>
  </div>
  <!-- Dark overlay -->
 <div class="absolute bottom-0 left-0 w-full h-1/3
              bg-linear-to-t
              from-slate-950 via-slate-950/40 to-transparent
              pointer-events-none">
  </div>

  <!-- Hero content -->
  <div class="relative z-10 p-12 flex flex-col items-center justify-end h-full ">
    <div class=" mx-auto max-w-6xl px-6 text-white">
      <h1 class="text-xl md:text-3xl tracking-tight">
        A <strong class="bg-clip-text text-transparent font-light bg-linear-to-r from-purple-500 via-purple-400 to-purple-100">new era of internet</strong> is coming.
      </h1>
    </div>
  </div>
</section>
<!-- -----------------End of Hero section------------------ --> 

<!-- =============================================== -->
<!-- -----------------Speed Up section------------------ --> 
<!-- =============================================== -->
<section class="relative my-6 mx-1 md:my-12 md:mx-1 lg:my-14 lg:mx-14 xl:my-24 xl:mx-24 text-white bg-[#0f141a] rounded-4xl overflow-hidden">
  <!-- Background image -->
  <div class="absolute inset-0 z-0">
    <%= image_tag 'speedup-streamon.png',
      class: "w-full h-full object-cover rounded-4xl" %>
  </div>

  <!-- Dark overlay for readability -->
  <div class="absolute z-10 lg:inset-y-0 bottom-0 lg:right-0 w-full lg:w-[90%] h-40 lg:h-full bg-linear-to-t lg:bg-linear-to-r from-black lg:from-transparent via-black/90 lg:via-black/60 to-transparent lg:to-black/70 rounded-4xl"></div>

  <!-- Text content -->
  <div class="relative z-20 px-8 py-28 md:px-20 max-w-2xl lg:ml-auto">
    <div class="flex flex-col justify-end md:justify-center gap-4 lg:gap-16">
      <h2 class="text-4xl md:text-8xl">
        <strong class="bg-clip-text text-transparent 
                      bg-linear-to-r from-purple-800
                      via-purple-300 to-purple-50">Speed 
        </strong>
        up,
        <strong class="bg-clip-text text-transparent 
                      bg-linear-to-r from-purple-800 
                      via-purple-300 to-purple-50">Stream
        </strong>
        on
      </h2>

      <p class="text-sm md:text-xl">
        Make seamless video calls, stream 4K videos, and accelerate downloads and
        uploads — all at once. Zenith Wireless is designed to handle all your devices
        internet needs with a fast, reliable connection.
      </p>
    </div>
  </div>
</section>
<!-- -----------------End of Hero section------------------ --> 

<!-- =============================================== -->
<!-- -----------------High Speed section------------------ --> 
<!-- =============================================== -->
<section class="relative flex flex-col my-8 w-full min-h-auto md:min-h-[500px] max-h-[750px] aspect-square md:aspect-auto bg-[#0f141a] overflow-hidden">
	<div class="absolute inset-0">
		<%= video_tag "high-speed.mp4",
			autoplay: true,
			muted: true,
			loop: true,
			playsinline: true,
			preload: "metadata",
			class: "w-full h-full object-cover" 
		%>
	</div>

  <!-- Text content -->
	<div class="absolute inset-0 flex flex-col md:items-center justify-center">
	  <div class="max-w-7xl py-10 px-7 md:py-16 md:px-16">
			<div class="flex md:flex-col items-start justify-start md:items-center md:justify-center">
				<h2 class="text-5xl md:text-6xl font-thin text-white">High-speed internet 
					<br aria-hidden="true">
					<span class="bg-clip-text text-transparent 
											bg-linear-to-r from-purple-800
											via-purple-600 to-purple-100">wherever</span> 
					you start browsing!
				</h2>
			</div>
		</div>
	</div>
</section>


